{% extends 'boards/base.html' %}
{% load static %}

{% block title %} DETAIL
{% endblock %}

{% block body %} 

<h1>DETAIL</h1>
<hr>


<h2>{{ board.id }}번째 글</h2>
<h2>{{ board.title }}</h2>
<p>{{ board.content }}</p>
{% if board.image %}
    <img src="{{ board.image.url }}" alt = "{{board.image}}"></img><br>
{% else %}
    <img src="{% static 'boards/image_available.png' %}" alt = "no image"></img><br>
{% endif %}
<p>{{ board.created_at | timesince }}전</p>
<p>{{ board.updated_at | timesince }}전</p>

<a href="{% url 'boards:index' %}">BACK</a>

<a href="{% url 'boards:edit' board.pk %}">수정</a>

<form action="{% url 'boards:delete' board.pk %}" method = "POST" style = 'display:inline' onsubmit = 'return confirm("U SURE????");'>
    {% csrf_token %}
    <input type="submit" value="삭제"/>
</form>


<hr>
<h2>댓글</h2>
{%for comment in comments %}
<li>{{ comment.content }}
<form action="{% url 'boards:comments_delete' board.pk comment.pk %}" method = "POST" style = 'display:inline' onsubmit = 'return confirm("U SURE????");'>
    {% csrf_token %}
    <input type="submit" value="삭제"/>
</form>
</li>
{% endfor %}


<hr>

<h2>댓글 작성</h2>
<form action="{% url 'boards:comments_create' board.pk %}" method="POST">
    {% csrf_token %}
    comment: <input type="text" name="content">
    <input type="submit" value="submit">
</form>

{% endblock %}

